# Python binaries
*.pyc
*.pyo
*__pycache__*

# hidden files garbage
*~
.fuse*

# doc build files
*.pdf
build

# Installation/setup related
dist
*egg**
MANIFEST
*.tar.gz
files*.txt

# pytest
.cache/v/cache
tests/.cache
htmlcov
tests/.coverage
